<section class="breadcrumb-area bg-img bg-gradient-overlay jarallax" style="background-image: url(https://www.simplilearn.com/ice9/free_resources_article_thumb/iot-explained-what-it-is-how-it-works-and-its-applications-banner.jpg);">
    <div class="container h-100">
    <div class="row h-100 align-items-center">
    <div class="col-12">
    <div class="breadcrumb-content">
    <h2 class="page-title">Schedule</h2>
    <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Schedule</li>
    </ol>
    </nav>
    </div>
    </div>
    </div>
    </div>
    </section>
    
    
    <section class="our-schedule-area bg-white section-padding-100">
    <div class="container">
    <div class="row">
    <div class="col-12">
    <div class="schedule-tab">
    
    <ul class="nav nav-tabs wow fadeInUp" data-wow-delay="300ms" id="conferScheduleTab" role="tablist">
    <li class="nav-item">
    <a class="nav-link active" id="monday-tab" data-toggle="tab" href="#step-one" role="tab" aria-controls="step-one" aria-expanded="true">Monday <br> <span>January 14, 2019</span></a>
    </li>
    
    <li class="nav-item">
    <a class="nav-link" id="tuesday-tab" data-toggle="tab" href="#step-two" role="tab" aria-controls="step-two" aria-expanded="true">Tuesday <br> <span>January 15, 2019</span></a>
    </li>
    
    <li class="nav-item">
    <a class="nav-link" id="wednesday-tab" data-toggle="tab" href="#step-three" role="tab" aria-controls="step-three" aria-expanded="true">Wednesday <br> <span>January 16, 2019</span></a>
    </li>
    </ul>
    </div>
    
    <div class="tab-content" id="conferScheduleTabContent">
    <div class="tab-pane fade show active" id="step-one" role="tabpanel" aria-labelledby="monday-tab">
    
    <div class="single-tab-content">
    <div class="row">
    <div class="col-12" *ngFor="let mon of monday">
    
    <div class="single-schedule-area single-page d-flex flex-wrap justify-content-between align-items-center wow fadeInUp" data-wow-delay="300ms">
    
    <div class="single-schedule-tumb-info d-flex align-items-center">
    
    <div class="single-schedule-tumb">
    <img src="{{mon.image}}" alt="">
    </div>
    
    <div class="single-schedule-info">
    <h6>{{mon.topic}}</h6>
    <p>by <span>{{mon.speaker}}</span> / {{mon.position}}</p>
    </div>
    </div>
    
    <div class="schedule-time-place">
    <p><i class="zmdi zmdi-time"></i> {{mon.time}}</p>
    <p><i class="zmdi zmdi-map"></i> {{mon.location}}</p>
    </div>
    
    <a href="#" class="btn confer-btn">View More <i class="zmdi zmdi-long-arrow-right"></i></a>
    </div>
    </div>
    
    <div class="col-12">
    <div class="more-schedule-btn text-center mt-50 wow fadeInUp" data-wow-delay="300ms">
    <a href="#" class="btn confer-btn">View More <i class="zmdi zmdi-long-arrow-right"></i></a>
    </div>
    </div>
    </div>
    </div>
    </div>
    <div class="tab-pane fade" id="step-two" role="tabpanel" aria-labelledby="tuesday-tab">
    
    <div class="single-tab-content">
    <div class="row">
        <div class="col-12" *ngFor="let mon of tuesday">
    
            <div class="single-schedule-area single-page d-flex flex-wrap justify-content-between align-items-center wow fadeInUp" data-wow-delay="300ms">
            
            <div class="single-schedule-tumb-info d-flex align-items-center">
            
            <div class="single-schedule-tumb">
            <img src="{{mon.image}}" alt="">
            </div>
            
            <div class="single-schedule-info">
            <h6>{{mon.topic}}</h6>
            <p>by <span>{{mon.speaker}}</span> / {{mon.position}}</p>
            </div>
            </div>
            
            <div class="schedule-time-place">
            <p><i class="zmdi zmdi-time"></i> {{mon.time}}</p>
            <p><i class="zmdi zmdi-map"></i> {{mon.location}}</p>
            </div>
            
            <a href="#" class="btn confer-btn">View More <i class="zmdi zmdi-long-arrow-right"></i></a>
            </div>
        </div>
    
    <div class="col-12">
    <div class="more-schedule-btn text-center mt-50 wow fadeInUp" data-wow-delay="300ms">
    <a href="#" class="btn confer-btn">View More <i class="zmdi zmdi-long-arrow-right"></i></a>
    </div>
    </div>
    </div>
    </div>
    </div>
    <div class="tab-pane fade" id="step-three" role="tabpanel" aria-labelledby="wednesday-tab">
    
    <div class="single-tab-content">
    <div class="row">
        <div class="col-12" *ngFor="let mon of wednesday">
    
            <div class="single-schedule-area single-page d-flex flex-wrap justify-content-between align-items-center wow fadeInUp" data-wow-delay="300ms">
            
            <div class="single-schedule-tumb-info d-flex align-items-center">
            
            <div class="single-schedule-tumb">
            <img src="{{mon.image}}" alt="">
            </div>
            
            <div class="single-schedule-info">
            <h6>{{mon.topic}}</h6>
            <p>by <span>{{mon.speaker}}</span> / {{mon.position}}</p>
            </div>
            </div>
            
            <div class="schedule-time-place">
            <p><i class="zmdi zmdi-time"></i> {{mon.time}}</p>
            <p><i class="zmdi zmdi-map"></i> {{mon.location}}</p>
            </div>
            
            <a href="#" class="btn confer-btn">View More <i class="zmdi zmdi-long-arrow-right"></i></a>
            </div>
            </div>
    
    <div class="col-12">
    <div class="more-schedule-btn text-center mt-50 wow fadeInUp" data-wow-delay="300ms">
    <a href="#" class="btn confer-btn">View More <i class="zmdi zmdi-long-arrow-right"></i></a>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </section>
    
    
    <div class="map-area">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d8521.851236327686!2d-74.6724533513314!3d40.961125464236446!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c371b215154515%3A0xb2dc3766c77b480b!2sHopatcong%2C+NJ%2C+USA!5e0!3m2!1sen!2sbd!4v1552471083596" allowfullscreen></iframe>
    </div>